/* Change the font size accordingly */
.header, .label.header, .hBox.header{
    -fx-font-size: 32px;
}

.button{
    -fx-font-size: 14px;
}

.text-field, .label, .textInBoxes{
    -fx-font-size: 16px;
}