/*
try to keep sizes in the the power of 2 ex:(2px,4px,8px,16px,32px)

Colors:

Primary
#2e9edf
on: #ffffff
Primary-2
#1f6791
on: #ffffff
Background-dark
#0b152c
on: #ffffff
Background-light
#ffffff
on: #000000
Background-light-2
#f3f3f3
on: #000000
Error
#ff0030
on: #ffffff
*/

.button {
    -fx-background-color: #2e9edf;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 2 ,2);
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 3, 4)
}

.card {
    -fx-background-color: #f3f3f3;
    -fx-text-fill: #000000;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 3 ,4);
}

.card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 14, 0, 5, 6)
}

.priority-low {
    -fx-background-color:#dceffa;

}

.priority-medium {
    -fx-background-color: #ccffe6;
}

.priority-high {
    -fx-background-color: #ffd5dd;
}

.tree-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.tree-cell:selected {
    -fx-background-color: #2e9edf;
    -fx-text-fill: #ffffff;
}

.content-container {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.error {
    -fx-background-color: #ff0030;
    -fx-text-fill: #ffffff;
}

.background {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}